---
import { Image } from "astro:assets";

import foodAndWineMag from "~/assets/press/food-and-wine-mag.jpg";
import ridgefieldPress from "~/assets/press/ridgefield-press.jpg";
import texasMonthly from "~/assets/press/texas-monthly.jpg";

const featuredPress = [
  {
    title: "Hoodoo Brown - The Best Barbecue In Every State",
    date: "August 24th, 2022",
    source: "Food & Wine Magazine",
    link: "https://www.foodandwine.com/travel/best-bbq-restaurants",
    img: {
      src: foodAndWineMag,
      alt: "cody sperry of hoodoo brown",
    },
  },
  {
    title: "Hoodoo Brown Outlaw Barbecue Attracts the Masses in Ridgefield",
    date: "July 9th, 2015",
    source: "The Ridgefield Press",
    link: "https://www.theridgefieldpress.com/connecticutmagazine/food-drink/article/Hoodoo-Brown-Outlaw-Barbecue-Attracts-the-Masses-17041930.php",
    img: {
      src: ridgefieldPress,
      alt: "cody sperry of hoodoo brown",
    },
  },
  {
    title: "Barbecue on Acid",
    date: "August 10th, 2017",
    source: "Texas Monthly",
    link: "https://www.texasmonthly.com/bbq/barbecue-on-acid/",
    img: {
      src: texasMonthly,
      alt: "cody sperry of hoodoo brown",
    },
  },
];
export interface Props {
  dark?: boolean;
}
const { dark = false } = Astro.props;
---

<section
  class=`${dark ? "bg-primary-lighter" : 'bg-bg-light'} px-edge py-10 lg:py-20 relative`
>
  <div class="max-w-screen-2xl mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h2
        class=`${dark ? "text-white" : "text-primary-darker"} font-bebas text-cta  text-5xl`
      >
        Featured Press Articles
      </h2>
    </div>
    <div
      class="mt-10 flex flex-col lg:flex-row gap-10 items-center lg:items-stretch justify-between"
    >
      {
        featuredPress.map((article) => (
          <div class="w-full max-w-[350px] flex flex-col justify-between">
            <div>
              <Image
                width={350}
                class="w-full max-h-[200px] object-cover "
                src={article.img.src}
                alt={article.img.alt}
              />
              <p
                class={`${
                  dark ? "text-white" : "text-primary"
                } mt-4 font-bebas text-3xl`}
              >
                {article.title}
              </p>
            </div>
            <div>
              <p class={`${dark ? "text-white" : ""} mt-2`}>{article.date}</p>
              <p class={`${dark ? "text-accent" : ""} mt-2 font-bold `}>
                {article.source}
              </p>
              <a
                href={article.link}
                target="_blank"
                class={`${
                  dark ? "border-cta" : "border-primary bg-primary  "
                } text-white mt-2 py-4 px-8 border font-bold text-lg text-center block`}
              >
                Read The Article
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
