---
import { Image } from "astro:assets";
import logo from "~/assets/hoodoo-brown-logo-no-bg.png";

import { socials } from "@data/general";
import { hours } from "@data/general";
import { contacts } from "@data/general";
import { Icon } from "astro-icon";

const date = new Date();
---

<section class="bg-primary-darker text-white py-10 px-edge">
  <footer>
    <div
      class="mx-auto flex flex-col text-center lg:text-left gap-10 items-center lg:flex-row lg:items-start max-w-screen-2xl justify-between"
    >
      <div class="max-w-sm mx-auto lg:mx-0">
        <Image height={100} src={logo} alt="hoodoo brown logo" />
        <p class="mt-2 text-lg">
          Classic Texas-style barbecue, craft beer & cocktails offered in a
          casual space with Old West decor.
        </p>
        <div class="mt-6 flex justify-center lg:justify-start space-x-2">
          {
            socials.map((social) => (
              <a href={social.link}>
                <Icon
                  class="hover:text-accent transition-all duration-300"
                  name={social.icon}
                  size={30}
                  color="white"
                />
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <p class="font-bold text-lg">Our Hours</p>
        <ul class="mt-2">
          {
            hours.map((hour) => (
              <li>
                <p>
                  {hour.day}: {hour.open}-{hour.close}
                </p>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <p class="font-bold text-lg">Orders Taken Until</p>
        <ul>
          <li>8:30pm T-Thu</li>
          <li>9pm Fr</li>
          <li>7:30pm Su</li>
        </ul>
      </div>

      <div>
        <p class="font-bold text-lg">Contact Us</p>
        <ul class="mt-2 space-y-2 max-w-xs">
          {
            contacts.map((contact) => (
              <li class="flex space-x-2 justify-center items-center lg:justify-start">
                <Icon name={contact.icon} size={30} />
                <p>{contact.text}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </footer>
  <div class="mt-2">
    <p class="text-center">
      Copyright © {date.getFullYear()} Hoodoo Brown BBQ | All Rights Reserved | Powered
      By <a href="https://www.simply-sprout.com">Simply Sprout</a>
    </p>
  </div>
</section>
